# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Coverage
.coverage
coverage.json
htmlcov/

# Cache
.pytest_cache/
.mypy_cache/

# MacOS
.DS_Store

# IDE
.idea/
.vscode/

# Project specific
.dist/ 